$info: #e3d432;
$warning: #fff700;
$danger: #c62f24;
$white: #faf8ec;
$primary: #704427;
$link: #26b9c8;
$blue: #0457a0;
$pink: #ff69b4;

.blogs {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  margin-top: 60px;
}
.blog-search {
  grid-column: 2 / 3;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  &:focus {
    outline: $primary auto 1px;
  }
}
.blog-list {
  grid-column: 2/3;
  position: relative;
}

.blog-block {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 100%;
  border: 2px double $primary;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
  justify-content: space-between;
  padding: 15px;
  .blog-condition {
    display: flex;
    justify-content: space-between;
  }
}
.blog-title {
  text-decoration: none;
  font-size: 20px;
  font-family: franz_sans_light;
  padding-bottom: 1rem;
  color: $primary;
}

.blog-post-container {
  margin-top: 60px;
  grid-column: half-start/half-end;
}

.tags .tag {
  align-self: center;
  background: 0 0;
  border: 2px solid #41403e;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  outline: 0;
  transition: all 235ms ease 0s;
  box-shadow: 10px 19px 17px -13px rgba(0, 0, 0, 0.2);
  font-size: 0.75rem;
  padding: 0.1rem;
  margin-right: 10px;
  &:hover {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
    box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
  }
}

.tag:nth-child(6n + 1) {
  background: $warning;
}
.tag:nth-child(6n + 2) {
  background: $pink;
}
.tag:nth-child(6n + 3) {
  background: $link;
}
.tag:nth-child(6n + 4) {
  background: $info;
}
@media screen and (max-width: 750px) {
  .blogs {
    padding: 10px;
  }
  .blog-list,
  .blog-search {
    grid-column: 1/4;
  }
  .blog-title {
    font-size: 1rem;
  }
}
