.note-block:nth-child(6n + 1) .note-card,
.note-block:nth-child(6n + 3) .note-card-back,
.tag:nth-child(6n + 1) {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.note-block:nth-child(6n + 2) .note-card,
.note-block:nth-child(6n + 5) .note-card-back,
.tag:nth-child(6n + 2) {
  border-bottom-left-radius: 185px 25px;
  border-bottom-right-radius: 20px 115px;
  border-top-left-radius: 125px 25px;
  border-top-right-radius: 250px 15px;
}

.note-block:nth-child(6n + 3) .note-card,
.note-block:nth-child(6n + 1) .note-card-back,
.tag:nth-child(6n + 3) {
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px;
}

.note-block:nth-child(6n + 4) .note-card,
.note-block:nth-child(6n + 6) .note-card-back,
.tag:nth-child(6n + 4) {
  border-bottom-left-radius: 25px 115px;
  border-bottom-right-radius: 15px 225px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 28px 125px;
}

.note-block:nth-child(6n + 5) .note-card,
.note-block:nth-child(6n + 2) .note-card-back,
.tag:nth-child(6n + 5) {
  border-bottom-left-radius: 20px 115px;
  border-bottom-right-radius: 185px 25px;
  border-top-left-radius: 250px 15px;
  border-top-right-radius: 125px 25px;
}

.note-block:nth-child(6n + 6) .note-card,
.note-block:nth-child(6n + 4) .note-card-back,
.tag:nth-child(6n + 6) {
  border-bottom-left-radius: 15px 225px;
  border-bottom-right-radius: 25px 115px;
  border-top-left-radius: 28px 125px;
  border-top-right-radius: 15px 225px;
}
.note-card-back::-webkit-scrollbar {
  width: 0;
}
